# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
!.vscode/extensions.json

# Java / Gradle
.gradle/
build/
out/
*.class

# Spring Boot
*.log

# Environment
.env
.env.*
application-local.yml
application-local.properties

# Node / Vue / Playwright
node_modules/
dist/
coverage/
playwright-report/
test-results/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*